@import 'sanitize.css';

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  background: url('./assets/background.jpg') no-repeat fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  margin-top: 15px;
  margin-bottom: 40px;
  padding-bottom: 0;
  font-size: 34px;
  color: #fff;
  letter-spacing: 3px;
}

/* card deck */
.deck {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
  gap: 28px;
  margin: 0;
  padding: 30px;
  background: #f0fdd8;
  border-radius: 10px;
}

.card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0;
  color: #fff;
  background: url('./assets/card.jpg');
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
}

.card.open {
  cursor: default;
  transform: rotateY(0);
  font-size: 33px;
  background: #564775;
}

.card.match {
  cursor: default;
  font-size: 33px;
  background: #00aa9c;
}

.card.fixed {
  cursor: default;
  transform: rotateY(0);
  font-size: 33px;
  background: #c45e5e;
}

/* score panel */
.score-panel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 16px;
}

.score-panel .stars {
  display: inline-block;
  color: #ff0;
}

.score-panel .stars li {
  display: inline-block;
}

.score-panel .clock {
  color: #fff;
}

.score-panel .moves,
.moves-info {
  color: #fff;
}

.score-panel .restart {
  cursor: pointer;
  color: #dc143c;
}

/* modal */
.dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 45%);
}

.hide {
  display: none;
}

.dialog .box {
  width: 100%;
  max-width: 450px;
  margin: 10px;
  padding-bottom: 15px;
  background: #fff;
  border-radius: 12px;
}

.box-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-body > h3 {
  margin: 0;
  padding: 0;
}

.box-body .box-replay {
  cursor: pointer;
  padding: 10px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #3e9e79;
  border-style: none;
  border-radius: 6px;
}

/* footer */
footer {
  position: fixed;
  bottom: 10px;
}

footer > p {
  font-size: 12px;
  color: #33ac88;
  letter-spacing: 1px;
}

footer > p > span {
  color: #d4284a;
}

/* tablets */
@media screen and (max-width: 900px) {
  .deck {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 24px;
    padding: 24px;
  }

  .card.open,
  .card.match,
  .card.fixed {
    font-size: 28px;
  }
}

/* mobile */
@media screen and (max-width: 600px) {
  header > h1 {
    margin-bottom: 50px;
    font-size: 26px;
  }

  .deck {
    grid-template-columns: repeat(4, 64px);
    grid-template-rows: repeat(4, 64px);
    gap: 16px;
    padding: 16px;
  }

  .card.open,
  .card.match,
  .card.fixed {
    font-size: 20px;
  }
}
