html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  background: url('./assets/background.jpg') no-repeat fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header > h1 {
  margin: 10px 0 25px;
  padding-bottom: 0;
  font-size: 34px;
  color: #fff;
  letter-spacing: 3px;
}

/* card deck */
.deck {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 660px;
  min-height: 680px;
  margin: 0 0 3em;
  padding: 32px;
  background: #f0fdd8;
  border-radius: 10px;
}

.deck .card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  font-size: 0;
  color: #fff;
  background: url('./assets/card.jpg');
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
}

.deck .card.open {
  cursor: default;
  transform: rotateY(0);
  font-size: 33px;
  background: #564775;
}

.deck .card.match {
  cursor: default;
  font-size: 33px;
  background: #00aa9c;
}

.deck .card.fixed {
  cursor: default;
  transform: rotateY(0);
  font-size: 33px;
  background: #c45e5e;
}

/* score panel */
.score-panel {
  width: 345px;
  margin-bottom: 15px;
  font-size: 17px;
  text-align: left;
}

.score-panel .stars {
  right: 80px;
  display: inline-block;
  margin: 0 50px 5px -80px;
  padding-right: 60px;
  color: #ff0;
}

li {
  list-style-type: none;
}

.score-panel .stars li {
  display: inline-block;
  list-style: none;
}

.score-panel .clock {
  position: relative;
  right: 150px;
  color: #fff;
}

.score-panel .moves,
.moves-info {
  position: relative;
  left: 120px;
  color: #fff;
}

.score-panel .restart {
  cursor: pointer;
  position: relative;
  left: 140px;
  float: right;
  color: #dc143c;
}

/* modal */
.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 45%);
}

.hide {
  display: none;
}

.dialog .box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 550px;
  height: 380px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
}

.box-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-body > h3 {
  margin: 0;
  padding: 0;
}

.box-body .box-replay {
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #3e9e79;
  border-style: none;
  border-radius: 8px;
}

/* footer */
footer > p {
  margin-top: 70px;
  font-size: 13px;
  color: #33ac88;
  letter-spacing: 1px;
}

footer > p > span {
  color: #d4284a;
}
